$base-color: #343434;
$background-color: #303030;
$background-color-header: #353535;
$background-color-lighter: #3d3d3d;
$background-color-darker: #1d1d1d;
$BG-button: #656565;
$accent-color: #373737;
$action-color:  #565656;   // hsl(.6, .6, .7);
$text-color: white;
